@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root
{
    --main-color:#0aad0a;
    --light-color:#f0f3f2;
    --shadow: rgba(145,158,171,.2) 0px 2px 4px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 1px 10px 0px;
    --font-family:'Encode Sans Expanded', sans-serif;
    --rating-color:#ffc908;
}
body{
  font-family: var(--font-family);
}
.active{
  color: var(--main-color);
}
.btn{
  @apply bg-active w-full text-white p-1 rounded hover:bg-green-600
}
.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: block;
  margin:15px auto;
  position: relative;
  background: #FFF;
  box-shadow: -24px 0 #FFF, 24px 0 #FFF;
  box-sizing: border-box;
  animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
  33% {
    background: #FFF;
    box-shadow: -24px 0 var(--main-color), 24px 0 rgb(232, 231, 231);
  }
  66% {
    background: var(--main-color);
    box-shadow: -24px 0 rgb(232, 231, 231), 24px 0 rgb(232, 231, 231);
  }
  100% {
    background: #FFF;
    box-shadow: -24px 0 rgb(232, 231, 231), 24px 0 var(--main-color);
  }
}


